*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:sans-serif;
    font-size: 23px;
}
.toggle-tabs{
    width: 40%;
    margin: 50px auto;
   
}
.title{
    color: brown;
    text-transform: capitalize;
    margin-bottom: 60px;
    font-size: 40px;
    text-align: center;
}
.content h1{
    font-size: 30px;
    color: brown;
    margin-bottom: 25px;
}
.tabs{
    display: flex;
}
.tabs li{
   list-style-type: none;
   background-color: rgba(202, 201, 201, 0.164);
   padding: 17px;
   border-right: 1px solid white;
   cursor: pointer;
   transition: all .2;
}
.tabs .active,.tabs li:hover{
   background-color: rgba(202, 201, 201, 0.699);
}
.content > div{
    padding: 20px;
    background-color: rgb(202, 201, 201,0.699);
}
.content > div:not(:first-child){
    display: none;
}